<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Aluno Sorteado</title>
    <style>
        body {
            background-color: #e3f7ff;
        }
        
    </style>
</head>
        <body>
           <h1>{{ aluno.nome }}</h1>

            <p><strong>ID:</strong> {{ aluno.id }}</p>
            <p><strong>Email:</strong> {{ aluno.email }}</p>
            <p><strong>Matriculado:</strong> {{ aluno.matriculado|yesno:"Sim,Não" }}</p>
        	<br>
    	    <a href="{% url 'lista_alunos' %}">Voltar para a lista</a>
	        <a href="{% url 'detalhe_aluno' %}">Sortear outro</a>
        </body>
</html>
